h1 {
    padding: 10px;
    margin: 50px;
    width: 150px;
    border: 2px solid black;
}

h3 {
    margin-bottom: 100px;
    margin-left: 50px;
}

form {
    margin: 20px;
    margin-left: 50px;
}